<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djl.shop.server.goods.dao.GoodsOrderMapper">
  <resultMap id="BaseResultMap" type="com.djl.shop.entity.GoodsOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="payprice" jdbcType="INTEGER" property="payprice" />
    <result column="discountprice" jdbcType="INTEGER" property="discountprice" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="modtime" jdbcType="TIMESTAMP" property="modtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, payprice, discountprice, flag, createtime, modtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goodsorder
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goodsorder
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.djl.shop.entity.GoodsOrder">
    insert into goodsorder (id, uid, payprice, 
      discountprice, flag, createtime, 
      modtime)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{payprice,jdbcType=INTEGER}, 
      #{discountprice,jdbcType=INTEGER}, #{flag,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{modtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.djl.shop.entity.GoodsOrder">
    insert into goodsorder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="payprice != null">
        payprice,
      </if>
      <if test="discountprice != null">
        discountprice,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="modtime != null">
        modtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="payprice != null">
        #{payprice,jdbcType=INTEGER},
      </if>
      <if test="discountprice != null">
        #{discountprice,jdbcType=INTEGER},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modtime != null">
        #{modtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.djl.shop.entity.GoodsOrder">
    update goodsorder
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="payprice != null">
        payprice = #{payprice,jdbcType=INTEGER},
      </if>
      <if test="discountprice != null">
        discountprice = #{discountprice,jdbcType=INTEGER},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modtime != null">
        modtime = #{modtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.djl.shop.entity.GoodsOrder">
    update goodsorder
    set uid = #{uid,jdbcType=INTEGER},
      payprice = #{payprice,jdbcType=INTEGER},
      discountprice = #{discountprice,jdbcType=INTEGER},
      flag = #{flag,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      modtime = #{modtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>