<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djl.shop.server.goods.dao.GoodsPriceMapper">
  <resultMap id="BaseResultMap" type="com.djl.shop.entity.GoodsPrice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gid" jdbcType="INTEGER" property="gid" />
    <result column="skuids" jdbcType="VARCHAR" property="skuids" />
    <result column="currprice" jdbcType="INTEGER" property="currprice" />
    <result column="oldprice" jdbcType="INTEGER" property="oldprice" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gid, skuids, currprice, oldprice
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goodsprice
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goodsprice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.djl.shop.entity.GoodsPrice">
    insert into goodsprice (id, gid, skuids, 
      currprice, oldprice)
    values (#{id,jdbcType=INTEGER}, #{gid,jdbcType=INTEGER}, #{skuids,jdbcType=VARCHAR}, 
      #{currprice,jdbcType=INTEGER}, #{oldprice,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.djl.shop.entity.GoodsPrice">
    insert into goodsprice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gid != null">
        gid,
      </if>
      <if test="skuids != null">
        skuids,
      </if>
      <if test="currprice != null">
        currprice,
      </if>
      <if test="oldprice != null">
        oldprice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gid != null">
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="skuids != null">
        #{skuids,jdbcType=VARCHAR},
      </if>
      <if test="currprice != null">
        #{currprice,jdbcType=INTEGER},
      </if>
      <if test="oldprice != null">
        #{oldprice,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.djl.shop.entity.GoodsPrice">
    update goodsprice
    <set>
      <if test="gid != null">
        gid = #{gid,jdbcType=INTEGER},
      </if>
      <if test="skuids != null">
        skuids = #{skuids,jdbcType=VARCHAR},
      </if>
      <if test="currprice != null">
        currprice = #{currprice,jdbcType=INTEGER},
      </if>
      <if test="oldprice != null">
        oldprice = #{oldprice,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.djl.shop.entity.GoodsPrice">
    update goodsprice
    set gid = #{gid,jdbcType=INTEGER},
      skuids = #{skuids,jdbcType=VARCHAR},
      currprice = #{currprice,jdbcType=INTEGER},
      oldprice = #{oldprice,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>